<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            
            <Component Id="cmp1297151B99D0FDB882E2365FB5BBF42E" Guid="*">
                <File Id="filFA926D08CEB680C86288A0DC04BB1247" KeyPath="yes" Source="$(var.HarvestPath)\NodeSwap.pdb" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="HeatGenerated_comp">
            
            <ComponentRef Id="cmp1297151B99D0FDB882E2365FB5BBF42E" />
        </ComponentGroup>
    </Fragment>
</Wix>